# Config for GRUB 2
# To override, copy this file to misc/grub.cfg
# For GRUB Legacy, see misc/menu.sample.lst

set timeout=5
set default=0

function load_gentleos {
  multiboot /gentleos.elf $2

  if [ -e "/gentleos.rd" ]; then
    module /gentleos.rd
  fi

  set gfxpayload=$1
}

menuentry "GentleOS/32 @ 800x600x256" {
  load_gentleos 800x600x8
}

menuentry "GentleOS/32 @ 640x480x16" {
  load_gentleos text
}

menuentry "GentleOS/32 Advanced" {
  echo "Available options:"
  echo "- theme=neon"
  echo "- theme=mono"
  echo "- uart=debug"
  echo "- uart=mouse"
  echo "- debug_keyboard"
  echo ""
  echo -n "Enter options separated with spaces: "
  read extra_args
  echo ""
  echo ""
  echo "Supported video modes:"
  echo "- VESA: Any 256-color (1024x768x8, 800x600x8, 640x480x8, etc.)"
  echo "- VGA:  640x480 16-color (enter empty string)"
  echo ""
  echo -n "Enter video mode: "
  read video_mode

  load_gentleos "$video_mode" "$extra_args"
}

